#video_1 {
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

#video_2 {
  right: 0;
  bottom: 0;
  width: 100%; 
  padding: 0;
}

.content_1 {
  position: absolute;
  top: 40%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 1.3rem;
}

.content_2 {
  position: absolute;
  top: 1rem;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 1.3rem;
}
.section_2_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 800px) {
  .section_2_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}