.profile_content {
    position: relative;
    margin-top: 6%;
    bottom: 0;
    background: rgba(40, 40, 40, 0.5);
    color: #f1f1f1;
    width: 60%;
    left: 20%;
  }

  .profile_area {
    padding: 0 10% 0 10%;
  }